body {
    background-color: #777;
}
#header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
}
img{
    float: left;
    width: 400px;
    height: 700x;
}
.breed-container {
    display: flex;
    flex-direction: column;
}
.breed-image {
    float: left;
    width: 500px;
    height: 500px;
}
#article {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
#article h4 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
#article p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
}