#header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
}
img{
    float: left;
    width: 400px;
    height: 700x;
}