body {
    background-color: #777;
}
#header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
    border-radius: 20px;
}

.breed-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.breed-image {
    width: 250px;
    height: 265px;
    border-radius: 40px;
}
#article {
    float: right;
    width: 50%;
    box-sizing: border-box;
    background-color: #666;
    padding: 10px;
    width: 500px;
    border-radius: 20px;
}
#article h4 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 100%;
    box-sizing: border-box;
    clear: both;
    margin-left: 206px;
}
#article p {
    margin-top: -20px;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 100px;
    word-break: break-word;
}

.breed-name{
    background-color: green;
    padding: 5px;
    color: white;
    text-align: center;
    width: 230px;
    margin-top: 2px;
    border-radius: 20px;
}
.breed-item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.heart {
    cursor: pointer;
    user-select: none;
    color: transparent;
    transition: color 0.3s;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 

}
.heart.liked {
    color: red;
    text-shadow: none;
}